
<table id="statistics">
  <tr>
    <td>Número total de preguntas</td>
    <td><%= statistics.totalQuestions %></td>
  </tr>
  <tr>
    <td>Número total de comentarios</td>
    <td><%= statistics.totalComments %></td>
  </tr>
  <tr>
    <td>Número medio de comentarios por pregunta</td>
    <td><%= statistics.averageCommentsPerQuestion %></td>
  </tr>
  <tr>
    <td>Número de preguntas sin comentarios</td>
    <td><%= statistics.questionsWithoutComments %></td>
  </tr>
  <tr>
    <td>Número de preguntas con comentarios</td>
    <td><%= statistics.questionsWithComments %></td>
  </tr>
</table>
